*{
    margin: 0;
    padding: 0;
    font-family: Sans-Serif;
}

body{
    touch-action: manipulation;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg{
    background: linear-gradient(to right, #E91E63, #3F51B5);
    height: 100%;
}

.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    color: #EEE;
    background: transparent;
    border: 1.5px solid #E91E93;
    transition: .2s;
}

.button:active{
    width: 48px;
    height: 48px;
    font-size: 23px;
}

.button:focus{
    outline: none;
}

.equal{
    height: 106px;
}

.zero{
    width: 106px;
}

.equal:active{
    height: 104px;
}

.zero:active{
    width: 104px;
}

.textview{
    width: 218px;
    margin: 4px;
    padding: 5px;
    font-size: 25px;
    color: #222;
    background: rgba(255, 255, 255, 0.1);
    border: 1.5px solid #3F51B5;
}

.operator{
    background: rgba(0, 0, 0, 0.1);
    border: 1.5px solid #3F51B5;
}

.clean{
    background: rgba(0, 0, 0, 0.15);
}

@media(min-width: 700px){
   .button{
      width: 100px;
      height: 100px;
      font-size: 50px;
      margin: 4px;
      border: 3px solid #E91E93;
   }
   
   .button:active{
      width: 96px;
      height: 96px;
      font-size: 46px;
   }
   
   .textview{
      width: 430px;
      margin: 8px;
      padding: 10px;
      font-size: 50px;
      border: 3px solid #3F51B5;
   }
   
   .equal{
       height: 212px;
   }
   
   .zero{
       width: 212px;
   }
   
   .equal:active{
        height: 208px;
    }

    .zero:active{
        width: 212px;
    }
}
